<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">Home</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>01.01.2021</small>
    </div>

    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, repellat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, repellat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, repellat.</p>
    </div>
</div>
